<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Gravity Ball</name>
    <description>
        Game using the accelerometer
    </description>
    <author email="s.quinteroc91@gmail.com" href="#">
        Samuel Quintero
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
